<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ERModuleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D803DBD61F09F08E0016D682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D803DBEF1F09F08F0016D682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D803DBFA1F09F08F0016D682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
